<div class="config-menu">
    <img class="config-seta" src="images/seta.svg" alt="seta">

    <div class="option-list">
        <button>Histórico de registros</button>
        <button>Configurações</button>
        <button>Temas</button>
    </div>
    
</div>