<nav class="nav-bar">
    <div class="nav-opcoes">
        <button id="nav-button">
            <i class="bi bi-list" style="color: #71c89a; font-size: 1.5rem;"></i>OPÇÕES
        </button>
    </div>
    <div class="logo">
        <img src="images/favicon.ico" alt="">
        <h1 class="titulo"><a href="/" style="text-decoration: none;">ILUSTRETECA</a></h1>
    </div>
    <button class="theme-changer">
        <i class="bi bi-gear" style="height: 2rem;"></i>
    </button>
</nav>

<div class="options-div">
    <button onclick="navigate('')" class="opt-buttons" id="nav-button1">Início</button>
    <button onclick="navigate('fichas')" class="opt-buttons" id="nav-button1">Fichas</button>
    <button onclick="navigate('livros')" class="opt-buttons" id="nav-button3">Livros</button>
    <button onclick="navigate('estatisticas')" class="opt-buttons" id="nav-button3">Estatísticas</button>
</div>
