<!DOCTYPE html>
<html lang="pt-BR" style="height: 100%;">
<head>
    <%- include('partials/head.ejs') %> 
    
    <title>Ilustreteca - Estatísticas</title>
    <link rel="stylesheet" href="css/estatisticas.css">
</head>
<body id="body">
    <%- include('partials/nav_bar.ejs') %>
    <section class="atalho">
        <img src="" alt="">
        
    </section>
</body>
</html>
