<!DOCTYPE html>
<html lang="pt-BR" style="height: 100%;">
<head>
    <%- include('partials/head.ejs') %> 

    <link rel="stylesheet" href="css/index.css">
    <title>Ilustreteca - Início</title>
</head>
<body id="body">
    <%- include('partials/nav_bar.ejs') %>
    <div class="main">
        <div class="abas">
            <button class="adicionar-livro-button" data-active="true" onclick="changeIndexTabTo('addFicha')">
                <h2><i class="bi bi-journal-text"></i> Adicionar Ficha</h2>
            </button>
            <button class="adicionar-ficha-button" data-active="false" onclick="changeIndexTabTo('addLivro')">
                <h2><i class="bi bi-book-half"></i> Adicionar Livro</h2>
            </button>
        </div>
        
        <div class="forms" data-state="addFicha">
            <div class="add-ficha">
                <form action="#">
                    <span style="color: black;">Nome:</span>
                    <input type="text" placeholder="Exemplo: José Maria Escrivá" style="color:black">
                    <span style="color: black;">Email:</span>
                    <input type="text" placeholder="Exemplo@gmail.com" style="color:black">
                </form>
            </div>

            <div class="add-livro">
                <h1>[PLACEHOLDER]</h1>
                <img src="https://media.tenor.com/hGlXXpLIlq0AAAAi/neco-arc-taunt.gif" alt="placeholder">
            </div>
        </div>
    </div>

    <script src="js/indexScript.js"></script>
</body>
</html>
