<!DOCTYPE html>
<html lang="pt-BR" style="height: 100%;">
<head>
    <%- include('partials/head.ejs') %> 

    <link rel="stylesheet" href="css/index.css">
    <title>Ilustreteca - Início</title>
</head>
<body id="body">
    <%- include('partials/nav_bar.ejs') %>
    <%- include('partials/config.ejs')%> 
    
    <div class="main">
        <div class="abas">
            <button class="adicionar-livro-button" data-active="true" onclick="changeIndexTabTo('addFicha')">
                <h2><i class="bi bi-journal-text"></i> Adicionar Ficha</h2>
            </button>
            <button class="adicionar-ficha-button" data-active="false" onclick="changeIndexTabTo('addLivro')">
                <h2><i class="bi bi-book-half"></i> Adicionar Livro</h2>
            </button>
        </div>
        
        <div class="forms" data-state="addFicha">
            <div class="add-ficha">
                <div class="add-ficha-aluno">
                    <form action="#">
                        <label for="nome" >Nome: </label>
                        <input name="nome" type="text" placeholder="Exemplo: José Maria Escrivá" >
                        
                        <label for="email" >Email: </label>
                        <input name="email" type="text" placeholder="Exemplo@gmail.com" >
                        
                        <label for="curso" >Curso: </label>
                        <select name="curso">
                            <option disabled hidden selected value="">Curso: </option>
                            <option value="INFO">INFORMÁTICA</option>
                            <option value="FINA">FINANÇAS</option>
                            <option value="AGRO">AGRONEGÓCIO</option>
                            <option value="EDIF">EDIFICAÇÕES</option>
                        </select>
                        
                        <label for="serie" >Email: </label>
                        <select name="serie">
                            <option disabled hidden selected value="">Série: </option>
                            <option value="1">1ª Série</option>
                            <option value="2">2ª Série</option>
                            <option value="3">3ª Série</option>
                        </select>
                        
                        <label for="municipio" >Nome: </label>
                        <input name="municipio" type="text" placeholder="Exemplo: José Maria Escrivá" >
                        
                        <label for="livro" >Email: </label>
                        <input name="livro" type="text" placeholder="Exemplo@gmail.com" >
                        
                        <label for="data-emprestimo" >Data de empréstimo: </label>
                        <input name="data-emprestimo" type="date" >
                    </form>
                </div>
                
                <div class="add-ficha-professor">
                    
                </div>

                <div class="add-ficha-comunidade">

                </div>
            </div>

            <div class="add-livro">
                <h1>[PLACEHOLDER]</h1>
            </div>
        </div>
    </div>

    <script src="js/indexScript.js"></script>
</body>
</html>
