<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ilustreteca - Início</title>
    
    <link rel="stylesheet" href="css/fichas.css">
    <script src="js/main.js" defer></script>
    <script src="https://kit.fontawesome.com/70fb3af43c.js" crossorigin="anonymous"></script>
</head>

<body id="body">
    
    <%- include('partials/nav_bar.ejs') %> 

    <div class="filtro">
        <form action="#" class="filtro-form">
            <select name="filter" id="filter" class="filter">
                <option value="" disabled hidden>FILTRO<i class="bi bi-caret-down-fill" style="color: black;"></i></option>
                <option value="semfiltro"><span>Sem filtro</span></option>
                <option value="comunidade"><span>Comunidade</span></option>
                <option value="alunos"><span>Alunos</span></option>
                <option value="prof"><span>Professores</span></option>
            </select>
        </form>
        
        <div class="barra-pes">
                <input type="text">
                <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>

</body>
</html>
