@keyframes opt-buttons-div-open {
    0% {
        height: 0;
        width: 10rem;

        margin: -2rem 0 0 2rem;
        z-index: -1;
    }

    100% {
        height: calc(100% - 4rem);
        width: 14rem;

        margin: 0;
        z-index: 0;
    }
}

@keyframes opt-buttons-div-close {
    0% {
        height: calc(100% - 4rem);
        width: 14rem;

        margin: 0;
        z-index: 0;
    }

    100% {
        z-index: -1;

        height: 0;
        width: 10rem;

        margin: -2rem 0 0 2rem;
    }
}
