@import url("style.css");

.filtro{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.filtro input{
    width: 30vw;
    height: 4vh;  
    background: -webkit-linear-gradient(135deg, var(--cor-principal), #FFF);
    border: 2px solid green;
    
    font-size: large;
    outline: none;
}
/* 
.filtro input:hover{
    
} */