@import url("style.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.filtro{
    z-index: -2;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin: .2rem;
}
.filtro form select{ 
    width: 12rem;
    height: 2.5rem;  
    background-color: #fff0;
    
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 1.2em;
    border: .15rem solid var(--cor-secundaria);

    transform: rotate3d(25%);
}

.filtro option{
    background-color: #fff0;
    color: var(--cor-secundaria);
    border-color:var(--cor-secundaria) ;

    font-size: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtro input{
    width: 35rem;
    height: 2.5rem;  
    background: -webkit-linear-gradient(135deg, var(--cor-principal), #FFF);
    border: 2px solid green;
    
    font-size: large;
    outline: none;
}
