@import url("style.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.filtro{
    z-index: -2;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin: .2rem;
    border-radius: 2;
}
.filtro form select{ 
    width: 12rem;
    height: 2.5rem;  
    background-color: #fff0;
    
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 1.2em;
    border: .15rem solid var(--cor-secundaria);

    transform: rotate3d(25%);
}
.filter{
    border-radius: 10px;
}

.filtro option{
    background-color: #fff0;
    color: var(--cor-secundaria);
    border-color:var(--cor-secundaria) ;

    font-size: 1em;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtro .barra-pes input{
    width: 35rem;
    height: 2.5rem;
    padding: .4rem;

    background-color: var(--cor-principal);
    border: none;
    border-radius: .5rem 0 0 .5rem;
    
    font-size: large;
    outline: none;
}

.filtro .barra-pes button[type="submit"]{
    background-color: var(--cor-principal);
    border: none;

    align-items: center;
    height: 2.2rem;
    overflow: hidden;

    padding: .4rem;
    cursor: pointer;
    margin: -5.1%;
}
