@import url("./style.css");

.atalho {
    position: relative;
    height: calc(100% - 6rem);
    width: calc(100% - 2rem);
    margin: 1rem;
    z-index: -2;
    
    background-color: #a8a8a8;
    transition: .5s;
}
/* Fim da nav bar */
