/* Definições gerais do site (Resetar estilo, Definir aparências gerais de alguns elementos, etc..) */
@import url("./fonts.css");
@import url("./animations.css");

:root {
    /* Variáveis, usar 'var()' para definir cores do site mais facilmente */
    --cor-principal: #1A9053;
    --cor-secundaria: #E9792D;
    --cor-borda-botao: #71c89a;
    --cor-destaque: ;
    --cor-fundo: #F99;
    --cor-botao-nav: #00BF63;
    /* --fundo-ficha-normal: #C7E6C7;
    --fundo-ficha-atraso: #F6D2B8;  */
    --cor-botao-ficha-normal: #;
}


@font-face {
    font-family: 'Butler';
    src: url('../fonts/') format('woff2'),
        url('../fonts/Butler-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler-Medium.woff2') format('woff2'),
        url('../fonts/Butler-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler-Light.woff2') format('woff2'),
        url('../fonts/Butler-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler-Black.woff2') format('woff2'),
        url('../fonts/Butler-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler-Bold.woff2') format('woff2'),
        url('../fonts/Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler-ExtraBold.woff2') format('woff2'),
        url('../fonts/Butler-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler.woff2') format('woff2'),
        url('../fonts/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@keyframes opt-buttons-div-open {
    0% {
        height: 0;
        width: 10rem;
        margin: 0rem 0 0 2rem;
        z-index: 1;

        border-radius: .5rem;
    }
    100% {
        height: calc(100% - 4rem);
        width: 14rem;
        margin: 0;
        z-index: 1;

        border-radius: 0;
    }
}

@keyframes opt-buttons-div-close {
    0% {
        height: calc(100% - 4rem);
        width: 14rem;
        margin: 0;
        z-index: -1;

        border-radius: 0;
    }
    100% {
        z-index: -1;
        height: 0;
        width: 10rem;
        margin: -2rem 0 0 2rem;

        border-radius: .5rem;
    }
}



* {
box-sizing: border-box;
padding: 0;
margin: 0;

font-family: 'Open Sans';
color: #FFF;
}

body {
height: 100%;

background: url("../images/backgrounds/aiaiai.png");
background-repeat: no-repeat;
background-size: cover;
}
/* Fim da seção */

/* Nav bar */
.nav-bar{
height: 4rem;
width: 100%;
background-color: var(--cor-principal);

display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
} 

.nav-bar .nav-opcoes {
height: 100%;
width: 14rem;

display: flex;
justify-content: center;
place-items: center;
margin: 0 .5rem 0 0;
}   

.nav-bar .nav-opcoes button {
width: 10rem;
height: 3rem;
font-size: 15pt;

display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap: 1.1rem;

background-color: #FFF0;
color: #FFF;

border: .15rem solid var(--cor-borda-botao);
border-radius: .8rem;

transition: .5s;
animation-timing-function: ease-out;
}

.nav-bar .nav-opcoes button:hover{
box-shadow:  0rem 0rem 1rem #ffffff00;
font-size: 15.2pt;
} 

.nav-bar .nav-opcoes i {
font-size: 2rem;
color: #FFF;
padding: 0 0 0 .5rem;
}
/* Logo */

.nav-bar .logo {
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: row;
}

.nav-bar .logo img {
    height: 3rem;
    margin: 0 1rem 0 0;
}
/* Fim da seção logo */

.theme-changer {
    height: 2.5rem;
    width: 2.5rem;
    
    align-self: center;
    margin: 0 .75rem 0 auto;

    border-radius: .4rem;
    border: none;
    background-color: var(--cor-botao-nav);
}

/* Opções da nav */

.opt-buttons-div {
    position: absolute;
    top: 4rem;
    width: 14rem;
    height: 0;
    
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--cor-borda-botao);
    overflow: hidden;
}

.opt-buttons-div .opt-buttons{
    opacity: 0;

    width: 12rem;
    height: 4rem;

    background-color: var(--cor-botao-nav);

    border-radius: .5rem;
    border: none;
    font-size: 1.1em;

    transition: .5s;
}

.opt-buttons-div .opt-buttons:hover{
    cursor: pointer;
}

.opt-buttons-div .opt-buttons a {
    text-decoration: none;
}
