/* Definições gerais do site (Resetar estilo, Definir aparências gerais de alguns elementos, etc..) */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("fonts.css");


:root {
    /* Variáveis, usar 'var()' para definir cores do site mais facilmente */
    --cor-principal: #1A9053;
    --cor-secundaria: #E9792D;
    --cor-borda-botao: #71c89a;
    --cor-destaque: ;
    --cor-fundo: #F99;
    --cor-botao-nav: #00BF63;
    --cor-verde-clara: #C7E6C7;
    --fundo-ficha-normal: #C7E6C7;
    --fundo-ficha-atraso: #F6D2B8; 
    --cor-botao-ficha-normal: #;
    --cor-inativa: #ccc;

}


@keyframes options-div-open {
    0% {
        height: 0;
        width: 10rem;
        margin: 0rem 0 0 2rem;

        border-radius: 0 0 1rem 1rem;
        gap: 0;
    }
    100% {
        height: 100vh;
        width: 14rem;
        margin: 0;

        border-radius: 0;
        gap: 1.5rem;
    }
}

@keyframes options-div-close {
    0% {
        height: 100vh;
        width: 14rem;
        margin: 0;

        border-radius: 0;
        gap: 1.5rem;
    }
    100% {
        height: 0;
        width: 10rem;
        margin: -2rem 0 0 2rem;

        border-radius: 0 0 1rem 1rem;
        gap: 0rem;
    }
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Open Sans Regular';
    color: #FFF;
}

body {
    height: 100%;

    background: url(../images/background/lines.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}
/* Fim da seção */

/* Nav bar */
.nav-bar{
    position: relative;
    z-index: 2;
    height: 4rem;
    width: 100%;
    background-color: var(--cor-principal);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
} 

.nav-bar .nav-opcoes {
    position: relative;
    height: 100%;
    width: 14rem;
    z-index: 1;

    display: flex;
    justify-content: center;
    place-items: center;
    margin: 0 .5rem 0 0;
}   

.nav-bar .nav-opcoes #nav-button {
    width: 10rem;
    height: 3rem;
    font-size: 15pt;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.1rem;

    background-color: #FFF0;
    color: #FFF;

    border: .15rem solid var(--cor-borda-botao);
    border-radius: .8rem;

    transition: .5s;
    animation-timing-function: ease-out;
}

.nav-bar .nav-opcoes button:hover{
    box-shadow:  0rem 0rem 1rem rgba(255, 255, 255, .3);
    font-size: 15.2pt;
} 

.nav-bar .nav-opcoes i {
    font-size: 2rem;
    color: #FFF;
    padding: 0 0 0 .5rem;
}
/* Logo */

.nav-bar .logo {
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: row;
}

.nav-bar .logo img {
    height: 3rem;
    margin: 0 1rem 0 0;
}
/* Fim da seção logo */

.theme-changer {
    height: 2.5rem;
    width: 2.5rem;
    
    align-self: center;
    margin: 0 .75rem 0 auto;

    border-radius: .4rem;
    border: none;
    background-color: var(--cor-botao-nav);
}

/* Opções da nav */

.options-div {
    position: absolute;
    top: 4rem;
    width: 14rem;
    height: 0;
    z-index: 1;
    
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--cor-borda-botao);
    overflow: hidden;
}

.options-div .opt-buttons{
    opacity: 0;

    width: 12rem;
    height: 4rem;
    margin: 1.5rem 0 0 0;

    background-color: var(--cor-botao-nav);

    border-radius: .5rem;
    border: 2px solid var(--cor-principal);
    font-size: 1.1em;

    transition: .5s;

    color: #FFF;
}

.options-div .opt-buttons:hover{
    cursor: pointer;
}

.options-div .opt-buttons a {
    text-decoration: none;
}

html, body{
    height: 100%;
    overflow-y: hidden;
}